@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Coins Portfolio</h1>
    <p class="lead">This Frontend to the Selenium Scraper references an Entity Framework</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Description</h2>
        <p>
            ASP.NET MVC makes it possible to represent the contents of a database or other structure in a cogent and efficient manner.
        </p>
    </div>
</div>